# string data type

In [3]:
a = "ravindra"
b = "RAVINDRA"
print(a>b)
print(a<b)

s = '"ravindra" and "RAVINDRA"'
s

True
False

'"ravindra" and "RAVINDRA"'

# indexing print

In [7]:
a = 'indore'
print(a[2], a[5], a[4])

# with negative indexs

print(a[-2], a[-5], a[-4])

d e r
r n d

# concatination

In [10]:
# 2 strings ko add karna hai 
a = "good"
b = "morning"
print(a+b)

n1 = "100"
n2 = "200"
print (n1+n2) # it is a concatinations

goodmorning
100200

# slicing name[ i:j ]  
# slicing  me sub string print hoti hai 
# it can be say we can print string with the range index 
# indexing will be start in 0 and negative indexing is also available

In [12]:
name = "Ravindra"
print(name[2:6]) # [] <= this is the scripting opretor
print(name[:])
print(name[0:100])
print(name[:5])
print(name[:100])  # index range ke bhar jata hai to python khud hi last y first index rakh deti hai
print(name[2:])
print(name[0:])

vind
Ravindra
Ravindra
Ravin
Ravindra
vindra
Ravindra

# sclicing has also 3rd value id jumping and we can say step value 
# name[x:y:z ]  
# x = starting index
# y = end-1 index
# z = jumping index

In [13]:
a = 'hyderabad'
b = a[0:7:2] #now a has 2 step jumps 
print(b)

hdrb

# some function of string

# len()  it gives us lenght of string
# lower() lower case dega
# upper() sb upper case me kr dega

# this function made a copy of origanal string and edit this according to the   function

In [14]:
name = 'Hyderabad'
print(len(name))

9

In [16]:
name = 'Hyderabad'
print(len(name))
print(name.lower()) 
print(name.upper())

9
hyderabad
HYDERABAD

In [7]:
def sum(a):
    if a==0:
        return a
    print(a)
    sum(a-1)
    
    
a = 10
b = sum(a)
print(b)

10
9
8
7
6
5
4
3
2
1
None

In [10]:
def sum(a):
    print(a)
    
a = 15
sum(a)

15

In [14]:
def sum(a):
    
    return a
    
num = 15
ans = sum(num)
print(ans)

15

In [16]:
def pd(s):
    str=""
    for i in s:
        if i in str:
            str +=i
    return str
print(pd("hello world"))

In [12]:
def pd(s):
    str1=""
    str2 =""
    for i in s:
        if i not in str1:
            str1 +=i
        else:
            str2 +=i
    return str2

ans = pd("hello world")

print(ans)

lol