# tuple not changable 
# that is tuple is immutable

In [2]:

tuple = (2,1,4,6,3,89)
print(tuple)
for i in tuple:
    print(i)

(2, 1, 4, 6, 3, 89)
2
1
4
6
3
89

In [5]:
# packing
a = 1,2,3,4 # yese me pyhton tuple me packing kar deti hai
print(a)

x,y,z,b = a;   # tuple ko yese assinment kr sakte hai
print(x)
print(y)
print(z)
print(b)

(1, 2, 3, 4)
1
2
3
4

In [9]:
a,b,c = 1,2,3
print(type(a))

<class 'int'>

In [11]:
a = 1,2,3,4,5,6
print(a)
a[2] = 500  # not changable

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [12]:
# any() function

s = { 1, 1, 3}
print(any(s))

# All elements of set are False
s = { 0, 0, False}
print(any(s))

# Some elements of set are True while others are False
s = { 1, 2, 0, 8, False}
print(any(s))

# Empty set
s = {}
print(any(s))

True
False
True
False

In [13]:
# All elements of list are True
l = [4, 5, 1]
print(any(l))

# All elements of list are False
l = [0, 0, False]
print(any(l))

# Some elements of list are
# True while others are False
# l = [1, 0, 6, 7, False]
# print(any(l))

# Empty list
l = []
print(any(l))

True
False
False

# all() function in tuple

In [14]:

# Python program to illustrate all()
# all values are True
list1 = [1, 2, 3, 4]
print(all(list1))

# one value is False
list2 = [0, 2, 4]
print(all(list2))

# all values are False
list3 = [0, False]
print(all(list3))

# empty list
list4 = []
print(all(list4))

True
False
False
True