# map() function

In [2]:
def squre(n):
    return n**2

my_list = [1,2,3,4,5,6,7,8,9]
result = map(squre,my_list) # my_list ki 1-1 value ke squre fun. me bhejega or map object me return kar fega
print(result) # it is show map object
print(list(result)) #show the all of the squre

<map object at 0x0000025C147CD7B0>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
def squre(n):
    return n**2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(map(squre,my_list)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
def add():
    a = eval(input("enter the a value"))
    b = eval(input("enter the b value"))
    c = a+b
    print(c)
    
add()

enter the a value10
enter the b value20
30

In [3]:
def add():
    a = eval(input("enter the a value"))
    b = eval(input("enter the b value"))
    c = a+b
    return c
    
a = add()
print(add())
print(a)

enter the a value10
enter the b value30
enter the a value60
enter the b value40
100
40

In [4]:
def add(c, d):
    
    c = c+d
    return c
    
a = eval(input("enter the a value"))
b = eval(input("enter the b value"))
sum = add(a,b)
print(sum)

enter the a value20
enter the b value20
40

In [5]:
def add(c, d):
    
    c = c+d
    print(c)
    
a = eval(input("enter the a value"))
b = eval(input("enter the b value"))
add(a,b)

enter the a value60
enter the b value0
60

In [25]:
def summ(a,b):
    if b==10:
        return
    print(a*b)
    return summ(a,b+1)
summ(2,1)

2
4
6
8
10
12
14
16
18

In [22]:
def summ(n, i):
    if(i>10):
        return
    print(n, "*", i, "=", n*i)
    return summ(n, i+1)

print("Enter the Number: ")
num = int(input())
print("\nTable of", num, "is:")
summ(num, 1)

Enter the Number:
5

Table of 5 is:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50